page-news-detail {
	.news-title {
		font-size: 1.5em;
	}
	.details {
		font-size: 0.8em;
		text-align: right;
	}
	.close-btn {
		background-color: #183923;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
	}
}
