page-forum {
	.comment {
		margin: 15px 0 15px;
		background-color: rgba(41, 79, 41, 0.2);
		h3 {
			margin-top: 0;
			font-size: 20px;
		}
	}
	.post-body {
		font-size: 14px;
	}
	.post-author {
		font-size: 12px;
	}
	// .list-ios ion-item-sliding,
	// .list-md ion-item-sliding {
	// 	background-color: color($colors, mainbg);
	// }
	.active-slide {
		background-color: red;
		background-color: color($colors, mainbg);
	}
}
