<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu" color="light"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Forum</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedCategory">
      <ion-segment-button *ngFor="let category of categories; let i = index" value="{{category.title}}" (click)="onSegmentChange($event, i)">
        {{category.title}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <button ion-button (click)="showPosts()">cat</button>
  <div *ngFor="let post of activePosts">
    <p>
      {{post.title}}
    </p>
  </div>
</ion-content>
