page-forum {
	.post-card {
		margin-bottom: 15px;
		background-color: rgba(24, 57, 35, .15);
		padding: 0 10px 0;
	}
	h3 {
		margin-top: 0;
		font-size: 18px;
	}
	.post-author {
		font-size: 0.8em;
	}
}
