page-post {
	.list-ios > .item-block:first-child,
	.list-md .item-input:last-child,
	.list-ios .item-input:last-child {
		border: none;
	}
	.item-ios,
	.item-md {
		padding-left: 0;
	}
	.list-md .item-input:last-child,
	.list-ios .item-input:last-child {
		display: none;
	}
}
