<ion-header>

  <ion-navbar>
    <ion-title>{{ newPost ? 'Opret nyt indlæg' : 'Redigere indlæg'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="post-container">
    <p *ngIf="submitAttempt" style="color: #ea6153;">Udfyld alle felter</p>
    <form [formGroup]="postForm">
      <ion-list>
        
        <ion-item>
          <ion-label>Kategori</ion-label>
          <ion-select interface="popover" formControlName="category_id" required>
            <ion-option *ngFor="let category of postData.categories" value="{{category.category_id}}">
              {{category.title}}
            </ion-option>
          </ion-select>
        </ion-item>

          <ion-item>
            <ion-label>Titel</ion-label>
            <ion-input required type="text" formControlName="title" required clearInput>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Tekst</ion-label>
            <ion-textarea formControlName="body" required></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-input type="hidden"></ion-input>
          </ion-item>

        </ion-list>
      </form>

      <button ion-button block color="actColor" (click)="newPost ? savePost() : updatePost()" [disabled]="!postForm.valid">
        {{newPost ? 'Opret indlæg' : 'Opdater indlæg'}}
      </button>
  </div>
</ion-content>
