
/** ==================================================
 *  General Styles
 *  ==================================================
 **/


 .header-ios .toolbar-background-ios,
 .header-md .toolbar-background-md {
	 background-color: rgba(28,51,22,.16);
	 border-color: inherit;
 }
 .has-refresher > .scroll-content {
	 border-top-color: inherit;
 }
 .toolbar-title-md,
 .toolbar-title-ios {
	 color: color($colors, light);
 }
 .content-md, .content-ios {
	 color: color($colors, light);
 }

 .card-content-md, .card-content-md-ios {
	 color: color($colors, dark);
 }
 
ion-content {
	background: #171413;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #2C7744, #171413); 
	background: linear-gradient(to bottom, #2C7744, #171413);
	.item-ios,
	.item-md {
		background-color: inherit;
		color: color($colors, light)
	}
	
}
// Background image settings
.global-background-image {
	background: #171413;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #2C7744, #171413); 
	background: linear-gradient(to bottom, #2C7744, #171413);
}

// toolbar color
.shadow-default {
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.50);
}

/* =======  End of General Styles  ======= */
