page-news {
	.news-card {
		background-color: rgba(24, 57, 35, .15);
		margin: 10px auto 20px;
		padding: 0 10px 0;
		h3 {
			margin: .5em 0.3em .5em;
			font-size: 2rem;
		}
		.news-body {
			p {
				margin-top: 0;
			}
		}
		.author {
			padding-bottom: 10px;
		}
	}
}
