page-news {
	.news-card {
		background-color: rgba(0, 0, 0, 0.05);
		margin: 10px auto 20px;
		padding: 0 5px 0;
		h3 {
			margin: .5em 0.3em .5em;
			font-size: 2rem;
		}
		.news-body {
			p {
				margin-top: 0;
			}
		}
		.author {
			padding-bottom: 10px;
			justify-content: flex-end;
		}
	}
}
