<!--
  Generated template for the NyhederPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu" color="dark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Nyheder</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="global-background-image">
  <ion-refresher (ionRefresh)="updateNews($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Træk ned for at opdatere nyheder"
      refreshingSpinner="circles"
      refreshingText="Opdaterer..."
      pullMin="500">
    </ion-refresher-content>
  </ion-refresher>

  <stats-view></stats-view>
  <button ion-button (click)="checkToken()">Get user data</button>
  <ion-card
    *ngFor="let n of news" 
    class="news-card shadow-default">
    <ion-card-header>
      {{ n?.title }}
    </ion-card-header>
    <ion-card-content>
      <avatar
        [name]="n?.author"
        displayType="circle" 
        size="70">
      </avatar>
      <p>{{ n?.body }}</p>
    </ion-card-content>
    <ion-list>
      <ion-item>
        <span class="author">@{{ n?.author }}</span>
        <button
          ion-button 
          item-end 
          outline
          color="light"
          (click)="newsDetails(n)">Læs mere</button>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- <ion-card
    class="news-card shadow-default" 
    ion-grid *ngFor="let n of news; let i = index" 
    (click)="newsDetails(n)">
    <div ion-row>
      <div ion-col col-7>
        <h3>{{n.title}}</h3>
      </div>
    </div>
    <div ion-row>
      <div ion-col col-3 center>
        <avatar name="David Wolff" displayType="circle" size="70"></avatar>
      </div>
      <div ion-col col-9>
        <p>{{n.body}}</p>
      </div>
    </div>
    <div ion-row class="author">
      <div ion-col>
        @{{n.author}}
      </div>
    </div>
  </ion-card> -->
  
</ion-content>
